.audience-item {
  clip-path: circle(36%);
  width: 14vw;
  height: 14vw;
  max-width: 120px;
  max-height: 120px;
  background-color: #f9f9fa;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audience-item--selected {
  background-color: #ff1ad9;
}

.audience-item__video {
  pointer-events: none;
  clip-path: circle(36%);
  width: 13vw;
  height: 13vw;
  max-width: 110px;
  max-height: 110px;
}
