.audience-item {
  position: relative;
  clip-path: circle(36%);
  width: 13vw;
  height: 13vw;
  max-width: 110px;
  max-height: 110px;
  background-color: transparent;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audience-item__inner {
  position: absolute;
  clip-path: circle(36%);
  width: 13vw;
  height: 13vw;
  max-width: 110px;
  max-height: 110px;
}

.audience-item--selected {
  background-color: #ff1ad9;
}

.audience-item--notselected {
  background-color: #f9f9fa;
}

.audience-item__inner--speaking {
  background-color: #7fff00;
}

.audience-item--mine {
  width: 15vw;
  height: 15vw;
  max-width: 130px;
  max-height: 130px;
}

.audience-item__inner--mine {
  position: absolute;
  clip-path: circle(36%);
  width: 15vw;
  height: 15vw;
  max-width: 130px;
  max-height: 130px;
}

.audience-item__icon {
  z-index: 1;
  pointer-events: none;
  clip-path: circle(36%);
  width: 12vw;
  height: 12vw;
  max-width: 100px;
  max-height: 100px;
}

.audience-item__icon--mine {
  z-index: 1;
  width: 14vw;
  height: 14vw;
  max-width: 120px;
  max-height: 120px;
}
