.participation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f9f9fa;
}

.participation__capture {
  clip-path: circle(36%);
  width: 30vw;
  height: 30vw;
  background-color: #4e6fa3;
  transform: translate(7vw, -3vw);
}

.participation__video {
  clip-path: circle(37%);
  width: 100%;
  height: 100%;
  transform: scale(0.9);
}

.participation__button {
  background: none;
  border: 1px solid #38383d;
  color: #38383d;
  font-size: 5vw;
  font-weight: 100;
  padding: 0.5vw 2vw;
}

.participation__button:disabled {
  border-color: #d7d7db;
  color: #d7d7db;
}

.participation__room {
  font-weight: 400;
}

.participation__error {
  color: #d70022;
  font-size: 3vw;
  font-weight: 100;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
}

.participation__pointing-image {
  transform: rotate(-90deg) translate(7.5vw, -13vw);
  position: absolute;
  background-color: transparent;
  width: 20vw;
  height: 20vw;
  z-index: 1;
}
