.tool-list {
  position: absolute;
  justify-items: end;
  top: 16px;
  left: 16px;
  right: 16px;
  z-index: 1;
  pointer-events: none;
  display: grid;
}

.tool-list--presenter {
  grid-template-columns: auto auto auto 1fr;
}
